#dropdown {
  position: absolute;
  padding: 0px;
  margin-top: .1%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background: white;
  list-style: none;
  width: 182px;
  z-index: 100;
}
