.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#catchpoint {
  position: absolute;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 80px;
  overflow:hidden;
  word-break:normal;
  border-right-color: 1px;
  border-right-style: solid;
  border-right-width: 1px;
}

.tg th {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 80px;
  overflow:hidden;
  border-style: solid;
  border-width: 1px;
  word-break:normal;
}

.tg .tg-0pky {
  border-color:inherit;
  text-align:left;
  vertical-align:top
}


/* separte style sheets for each component.
 look into scss, and use this instead of css  
 file away style sheets in respective component folders.  
*/