.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#catchpoint {
  position: absolute;
}



/* separte style sheets for each component.
 look into scss, and use this instead of css
 file away style sheets in respective component folders.
*/
